<Configuration>
    <ClassPath path="$src/main/res" outPath="$output" />
    <Files>
        <File package="test" name="Main.java" />
    </Files>
    <Modules>
        <Module name="String" enabled="false" />
        <Module name="Misc" enabled="false" />
        <Module name="Rename" enabled="false" />
        <Module name="CodeInsert" enabled="true" />
    </Modules>
</Configuration>